# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Env & secrets
.env
.env.*
*.keystore

# OS
.DS_Store
Thumbs.db

# Supabase local
supabase/.branches/
supabase/.temp/
